#carousel {
    height:100%;
    width:100%;
}

#carousel_dots {
    text-align: center;
    margin:auto;
    display : table;
    clear: both;
    position: relative;
    top: 80%;
    z-index: 200
}

.carousel_paging2 {
    border-radius: 10px;

    background: #ccc;
    width: 10px;
    height: 10px;
    display:inline-block;
}

.carousel_paging2_selected {
    border-radius: 10px;

    background: #000;
    width: 10px;
    height: 10px;
    display:inline-block;
}