.sentences ul > li > a:after {
    content: '';
}

.sentences ul > li {
    height: 84px;
}

.sentences ul > li > a {
    background-color: #DBEBF3;
    font-size: 28px;
    color: #333;
    border-bottom: 1px solid #999;
    border-top: 1px solid #FFF;
    line-height: 84px;
    height: 84px;
    padding-left: 25px;
}

.sentences ul > li > a[selected], .sentences ul > li > a:active {
    color: #333 !important;
    background-color: #fcc51c;
}

.category {
	color:#FFF;
	display: inline-block;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	margin-top: 10px;
	width: 25%;
}

.category img {
    width: 48px;
    height: 48px;
    background-color: #FFF;
}