.sentences ul > li > a:after {
    content: '';
}

.category {
	color:#FFF;
	display: inline-block;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	margin-top: 10px;
	width: 25%;
}

.category img {
    width: 48px;
    height: 48px;
    background-color: #FFF;
}