#voice_to_word{
    background-color: #DBEBF3;
}

#recognizer-button {
    height: 108px;
    width: 274px;
}
#voice_to_word .button-container {
    height: 108px;
    width: 100%;
    position: fixed;
    bottom: 4px;
    left: 50%;
    margin-left: -137px;
}

#recognizer-button[selected], #recognizer-button:active {
    background: url('../img/btn_say.png') no-repeat 0 -108px;
}

#recognizer-button {
    background: url('../img/btn_say.png') no-repeat 0 0;
}