#main {
    padding: 0 3%;
}
#main #synthesize_content {
   width: 78%;
   height: 100px;
   padding: 5px;
}
#synthesize-button {
    vertical-align: top;
    height: 100px;
    width: 20%;
    font-size: 16px;
    border: 2px solid gray;
}
.synthesizer {
    position: relative;
}
.remove-all-text {
    position: absolute;
    bottom: 5px;
    right: 23%;
    color: #ccc;
    font-size: 18px;
}

.loading-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 35%;
    right: 8%;
}

.large-font {
    font-size: 20px;
}