
#main #synthesize_content {
   width: 340px;
   height: 200px;
   padding: 5px;
   border-radius: 3px;
   border-color: #bbb;
}
#synthesize-button {
    margin-left: 5px;
    vertical-align: top;
    height: 200px;
    width: 100px;
    background: url("../img/1.png") no-repeat;
}
#synthesize-button:hover {
    background-position: 10px 10px;
}

.synthesizer {
    padding: 10px 15px;
    background-color: #dbebf3;
    position: relative;
    background-color: #DBEBF3;
    padding: 10px 15px;
    box-shadow: inset 0 -1px 2px rgba(39, 67, 97, 0.25);
}
.remove-all-text {
    border-radius: 12px;
    padding: 2px 5px;
    background-color: #ccc;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 320px;
    font-size: 18px;
}

.loading-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 35%;
    right: 8%;
}

.large-font {
    font-size: 20px;
}